<?php

namespace {{ namespace }};

use Symfony\Component\HttpKernel\Bundle\Bundle;

class Application{{ bundle }} extends Bundle
{
    /**
     * {@inheritdoc}
     */
    public function getParent()
    {
        return '{{ bundle }}';
    }
}
