<?php

namespace {{ extended_namespace }}\Entity;

use {{ namespace }}\Entity\{{ name }} as {{ extended_name }};

class {{ class }} extends {{ extended_name }}
{
    /**
     * @var int $id
     */
    protected $id;

    /**
     * Get id
     *
     * @return int $id
     */
    public function getId()
    {
        return $this->id;
    }
}
